includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    ignoreErrors:
        - identifier: staticMethod.dynamicCall
        - identifier: property.dynamicName
        - identifier: method.dynamicName
        -
            message: '#^Implicit array creation is not allowed \- variable \$lookup might not exist\.$#'
            identifier: variable.implicitArray
            count: 1
            path: src/Livewire/LivewireTable.php
        -
            message: '#^Variable \$lookup might not be defined\.$#'
            identifier: variable.undefined
            count: 1
            path: src/Livewire/LivewireTable.php
