includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    ignoreErrors:
        - identifier: staticMethod.dynamicCall
        - identifier: property.dynamicName
        - identifier: method.dynamicName
        -
            message: '#^Method RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Blog\:\:tags\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Tag, \$this\(RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Blog\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Tag, \$this\(RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Blog\), Illuminate\\Database\\Eloquent\\Relations\\Pivot\>\.$#'
            identifier: return.type
            count: 1
            path: tests/Fakes/Models/Blog.php
        -
            message: '#^Method RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Tag\:\:blogs\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Blog, \$this\(RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Tag\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Blog, \$this\(RamonRietdijk\\LivewireTables\\Tests\\Fakes\\Models\\Tag\), Illuminate\\Database\\Eloquent\\Relations\\Pivot\>\.$#'
            identifier: return.type
            count: 1
            path: tests/Fakes/Models/Tag.php
