includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    ignoreErrors:
        - identifier: staticMethod.dynamicCall
        - identifier: property.dynamicName
        - identifier: method.dynamicName
